<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">target/Logs</Property>
    </Properties>
    <Appenders>
        <RollingFile name="File" fileName="${basePath}/Log.html" filePattern="${basePath}/Log-%d{yyyy-MM-dd}.html">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <SizeBasedTriggeringPolicy size="1 MB" />
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="File" level="trace"/>
            <AppenderRef ref="Console" level="error"/>
        </Root>
    </Loggers>
</Configuration>